<nav class="navbar navbar-expand-lg navbar-light bg-light border shadow">
    <a class="navbar-brand" href="#">
        <p class="h1 text-left font-weight-bold font-italic text-muted display-4vw">ESTRELL<img src="assets/star.svg"
                alt="A" width="10%" height="10%" aria-label="A" class="star">ME</p>
    </a>
    <a href="/index.html" class="navbar-toggler mx-auto" aria-expanded="false"
        aria-label="Nombre de usuario y apellido" data-toggle="collapse">
        <span><i class="fas fa-user"></i></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-muted" href="/index.html"><strong>Nombre de Usuario y Apellido </strong><i
                        class="fas fa-user"></i><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>