<app-home-nav></app-home-nav>
<!-- <script src="assets/formModal.js"></script> -->
<flash-messages></flash-messages>
<main class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-8 mx-auto">
            <p class="h3 font-weight-bold mb-4">Envía una estrella</p>
            <div class="row">
                <div class="col-md-6 col-xs-6 p-0 mb-2">
                    <button type="button" class="btn btn-primary btn-star font-weight-bold" data-toggle="modal"
                        data-target="#formModal"><img src="assets/star-white.svg" alt="A" width="25%" height="25%"
                            aria-label="Excelencia">Excelencia</button>
                    <button type="button" class="btn btn-purple btn-star font-weight-bold" data-toggle="modal"
                    data-target="#formModal"><img src="assets/star-white.svg"
                            alt="A" width="25%" height="25%" aria-label="Trabajo en equipo">Trabajo en
                        <br>Equipo</button>
                    <button type="button" class="btn btn-pink btn-star font-weight-bold" data-toggle="modal"
                    data-target="#formModal"><img src="assets/star-white.svg"
                            alt="A" width="25%" height="25%" aria-label="Pensar en grande">Pensar en
                        <br>Grande</button>
                </div>
                <div class="col-md-6 col-xs-6 p-0 mb-2">
                    <button type="button" class="btn btn-orange btn-star font-weight-bold" data-toggle="modal"
                    data-target="#formModal"><img src="assets/star-white.svg"
                            alt="A" width="25%" height="25%" aria-label="Innovación constante">Innovación
                        <br>Constante</button>
                    <button type="button" class="btn btn-warning btn-star text-white font-weight-bold" data-toggle="modal"
                    data-target="#formModal"><img
                            src="assets/star-white.svg" alt="A" width="25%" height="25%"
                            aria-label="Diversión">Diversión</button>
                    <button type="button" class="btn btn-success btn-star font-weight-bold" data-toggle="modal"
                    data-target="#formModal"><img
                            src="assets/star-white.svg" alt="A" width="25%" height="25%"
                            aria-label="Actuar con ética">Actuar con
                        <br>Ética</button>
                </div>
                <div class="modal fade" id="formModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog fixed-top w-100 full-modal mx-auto p-0" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white">
                                <h5 class="modal-title mx-auto text-center"></h5>
                                <button type="button" class="text-white close ml-0" data-dismiss="modal"
                                    aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="http://localhost:3000/api/stars/" method="POST">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">¿A quién quieres enviar la estrella?</label>
                                        <input type="email" class="form-control" name="receiverMail"
                                             placeholder="Ingresa su correo">
                                    
                                        <label for="exampleInputPassword1">Escribele un mensaje</label>
                                        <textarea class="form-control" name="message"
                                            placeholder="Máximo 140 caracteres"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-light text-muted font-weight-bold w-50" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn font-weight-bold w-35 mx-auto text-white" id="btnSendStar">Enviar</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p class="h3 font-weight-bold my-4">Tus estrellas</p>
            <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
                <li class="nav-item text-left w-50">
                    <a class="tab-link active font-weight-bold h3" id="tabs-enviadas-tab" data-toggle="tab"
                        href="#tabs-enviadas" role="tab" aria-controls="tabs-enviadas"
                        aria-selected="true">Enviadas</a>
                </li>
                <li class="nav-item text-left w-50">
                    <a class="tab-link font-weight-bold h3" id="tabs-recibidas-tab" data-toggle="tab"
                        href="#tabs-recibidas" role="tab" aria-controls="tabs-recibidas"
                        aria-selected="false">Recibidas</a>
                </li>
            </ul>
            <div class="tab-content" id="tabs-tabContent">
                <div class="tab-pane fade show active" id="tabs-enviadas" role="tabpanel"
                    aria-labelledby="tabs-enviadas-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="assets/user-solid.svg" alt="Foto de perfil" width="100vh"
                                        class="mx-auto d-block mb-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8">
                                            <h5 class="card-title">Nombre de Usuario y Apellido</h5>
                                        </div>
                                        <div class="col-md-4 col-xs-4 mb-2">
                                            <p class="h6 card-title text-muted"
                                                style="transform: translateX(0%) translateY(24%)">hace 22 minutos
                                            </p>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <img src="assets/star-white.svg" alt="Estrella"
                                            class="img-thumbnail bg-primary rounded-circle border-primary float-left mxs-6 mxp">
                                        <p class="text-primary font-weight-bold"
                                            style="transform: translateX(0%) translateY(15%)">&nbsp; Excelencia</p>
                                    </div>
                                    <p class="card-text mt-4">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.
                                        Dignissimos vel delectus quam repellat sint natus minus nihil eaque animi
                                        fugit! Voluptas debitis deleniti corrupti voluptates necessitatibus odio
                                        animi beatae eveniet?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <p><i class="fas fa-user"></i> Enviado por <strong>Alejandro Cadavid Perez</strong></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabs-recibidas" role="tabpanel" aria-labelledby="tabs-recibidas-tab">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-xs-8">
                                    <div class="container">
                                        <img src="assets/star-white.svg" alt="Estrella"
                                            class="img-thumbnail bg-primary rounded-circle border-primary float-left mxs-6 mxp">
                                        <p class="text-primary font-weight-bold"
                                            style="transform: translateX(0%) translateY(40%)">&nbsp; Excelencia</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 mb-2">
                                    <p class="h6 card-title text-muted"
                                        style="transform: translateX(0%) translateY(50%)">hace 22 minutos</p>
                                </div>
                            </div>
                            <p class="card-text mt-4">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Dignissimos vel delectus quam repellat sint natus minus nihil eaque animi
                                fugit! Voluptas debitis deleniti corrupti voluptates necessitatibus odio
                                animi beatae eveniet?
                            </p>
                        </div>
                        <div class="card-header">
                            <p><i class="fas fa-user"></i> Enviado por <strong>Alejandro Cadavid Perez</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>