<div class="bg-primary h-100">
        
    <main class="h-100">
        <div class="row h-100 w-100">
            <div class="col-md-5 mx-auto my-auto ">
                <div class="card p-4">
                    <!-- <div class="card-header"> -->
                    <h1 class="text-center font-weight-bold font-italic display-4vw text-muted">ESTRELL<img src="assets/star.svg" alt="☆" width="10%" height="10%" class="star">ME</h1>
                    <!-- </div> -->
                    <div class="card-body text-center">
                        <form action="/mainw" method="GET" autocomplete="on">
                            <p class="h4 mb-2">Ingresa tus datos para registrarte</p>

                            <div class="form-group mt-4">
                                    <input type="email" class="form-control" name="name" placeholder="Nombre completo" required>
                                    <input type="email" class="form-control" name="nickname" placeholder="Nick" required>
                                <input type="email" class="form-control" name="email" placeholder="Correo" required>
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                                <input type="password" class="form-control" name="confirm-password" placeholder="Confirmar contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-primary m-4"><strong
                                    class="h4 mt-2">Registrarse!</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>